<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--左导航-->
<div class="layui-side layui-bg-black" th:fragment="left_bar(actionMenuName)">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree">
			<li class="layui-nav-item " th:classappend="${actionMenuName == 'xxxMenu'} ? 'layui-this' : 'nothing' ">
			<a href="javascript:void(0);" onclick="commonGoToPageFunc('/xxx/toXXXList')" class="menu_one">XXX管理</a>
			</li>


        </ul>
    </div>
</div>
</html>