<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_js">
<!-- jQuery-->
<script src="plugins/jQuery/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/jQuery/jquery.form.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/jQuery/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>


<!-- layUI-->
<script src="plugins/layUI/layui.js" type="text/javascript"></script>
<script src="plugins/layUI/cityData.js" type="text/javascript"></script>

<script src="plugins/moment/moment.js" type="text/javascript"></script>

<!-- 表单校验js-->
<script src="plugins/xui/xui.js" type="text/javascript"></script>
<script src="plugins/xui/xui-tree.js" type="text/javascript"></script>
<script src="plugins/xui/xui-tips.js" type="text/javascript"></script>

<!-- 共通js-->
<script src="common/js/common.js" type="text/javascript" charset="utf-8"></script>
<!--共通验证规则函数-->
<script src="common/js/common_config_verify.js" type="text/javascript" charset="utf-8"></script>
</div>
</html>