
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include_css::common_css}">
    <title>教学平台</title>
</head>
<link rel="stylesheet" th:href="@{/manage/css/xxx_edit.css}"/>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 头部-->
    <div th:replace="~{common_header::top_header}"></div>

    <!-- 左侧导航-->
    <div th:replace="~{common_left::left_bar('xxxMenu')}"></div>
    
    <!--内容区域-->
    <div class="layui-body" >
        <div class="layui-body-main">
            <div class="formBox">
                <!--表单-->
                <form class="layui-form" method="post">

                    <input type="hidden"
                           id="courseid"
                           name="courseid"
                           th:value="${dataVO.courseid}" />

                    <!--卡片-->
                    <div class="card">
                        <!--卡头-->
                        <div class="card-title">
                            <b>信息</b>
                        </div>
                        <!--卡体-->
                        <div class="card-body form-card">


                            <!--课程名称-->
                            <div class="layui-form-item short-form-item">
                                <label class="layui-form-label"><sup>*</sup>名称:</label>
                                <div class="layui-input-inline">
                                    <input type="text"
                                           name="title"
                                           xui-bubble="title"
                                           xui-verify="required | byte(80)"
                                           placeholder="请输入名称"
                                           th:value="${dataVO.title}"
                                           class="layui-input">
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="btn-group">
                        <div class="layui-form-item">
                            <div class="layui-input-block form-card ">
                                <button type="button" id="cancelBtn" class="layui-btn " >取消</button>
                                <button type="button" id="submitBtn" class="layui-btn layui-btn-normal">保存</button>
                                <button type="button" id="anotherSubmitBtn" class="layui-btn layui-btn-normal">另存为</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- 引入共通js -->
<div th:replace="~{include_js::common_js}"></div>
<!-- 引入独立js -->
<script th:src="@{/manage/js/xxx_edit.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>